<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.co.horizont.mapper.ImageMapper">
	<select id="getFileInfos" resultType="hu.co.horizont.domain.FileInfo" >
		SELECT id, user_id, name, path
  FROM ma_images
	</select>
	<select id="getFileInfo" parameterType="String" resultType="hu.co.horizont.domain.FileInfo">
		select *
		from ma_images
		where id = #{id}
	</select>
	<select id="getFileInfosToUser" parameterType="String" resultType="hu.co.horizont.domain.FileInfo">
		select *
		from ma_images
		where user_id = #{user_id}
	</select>
	<insert id="insert" parameterType="hu.co.horizont.domain.FileInfo">
		insert into ma_images(
			id, user_id, name, path) 
		values (
			#{id},
			#{user_id},
			#{name},
			#{path})
	</insert>
	<update id="update" parameterType="hu.co.horizont.domain.FileInfo">
			update ma_images set
			id = #{id},
			user_id = #{user_id},
			name = #{name},
			path = #{path}
		where id = #{id}
	</update>
	<delete id="delete" parameterType="String">
		delete from ma_images where id = #{id}
	</delete>
</mapper>